html {
  height: 100%;
}

.photography-header {
  background-image: url("https://i.imgur.com/Lsq1dNG.jpg");
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42pt;
}

.home-page-header {
  background-image: url("https://i.imgur.com/UUkQLtD.jpg");
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42pt;
}


.running-header {
  background-image: url("https://i.imgur.com/PMYVzEE.jpg");
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42pt;
}

body {
  margin: 0%;
  text-align: center;
  background-color: blue;
}

.paragraph{
  color: black;
  align-items: center;
  margin: 5% 0;
}

.list
li {
  display: inline;
  margin: 5% auto;

}

#intro-paragraph{
  color:black;
}

.bottom-image{
color: black;
  align-items: center;
  margin: 5% 0;
}
